{% block content %}
<a class='vert' id='about'></a>

<section class='contProyectos'>
        <div class='vert'>
            <div class='row vert-pad'> 
                <div class='mi-left padded'>
                    <h1>Desarrollo con pasión aplicaciones y  sitios web para personas.</h1>
                    <p>Constantemente me encuentro aprendiendo nuevas tecnologias y disfruto desarrollando aplicaciones por placer. He construido esta web desde cero con Python y Django, y estoy emocionado por seguir explorando y aprendiendo en este mundo.</p>
                </div>
                <div class='vert-pad'>
                    <h1>Podemos hablar lo que quieras!!!</h1>
                    <p>Sólo envíame un correo <a href='#contacto' class='orange'>pinchando aqui</a></p>
                </div>
            </div>
        </div>
</section>

{% endblock %}