
{% load static %}
<div id="fondo" class='flex-center'>
    <section>
        <div class="center padded">
            <div class="content padded">
                <div class='section-1 row'>
                    <div class="left padded">
                        <h1 class="one-0">Exelente! Correo enviado</h1>
                        <p>Un grupo de monos entrenados está revisando tu correo ahora mismo... mentira... no están entrenados pero te contestarán dentro de poco!</p>
                    </div>
                    <div class="right padded">
                        <img class='one img-sent-mail' src={% static 'media/sent.png' %}/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

