{% block content %}
{% load static %}
    <a class='vert' id='about'></a>

    <section class='contProyectos-icon'>
        <div><h2>Tecnologías</h2></div>
        <div class='contenedor-icon'>
            <div class=''>
                <img class='' width=100 src={% static 'media/icon-python.png' %}>
            </div>
            <div class=''>
                <img class='' width=80 src={% static 'media/icon-django.png' %} >
            </div>
            <div class=''>
                <img class='' width=100 src={% static 'media/icon-flask.png' %}>
            </div>
            <div class=''>
                <img class='' width=100 src={% static 'media/icon-github.png' %}>
            </div>
            <div class=''>
                <img class='' width=100 src={% static 'media/icon-html.png' %}>
            </div>
            <div class=''>
                <img class='' width=100 src={% static 'media/icon-css.png' %}>
            </div>
            </div>
        </div> 
    </section>
{% endblock %}

