{% extends 'pagina/layout.html' %}

{% block title %} {{ article.title }} {% endblock %}

{% block content %}
<div class='content-about card-article'>
    <div class='content-title'>
        <h1 class="title">{{article.title}}</h1>
    </div>
    <span class='date'>{{article.created_at}}</span>
    <p class='content'>
        {{article.content}}
    </p>
    {% if article.image != 'null' and article.image.url|length >= 1  %}
        <div class="image">
            <img src="{{article.image.url}}" />
        </div>
    {% endif %}
</div>
{% endblock%}