<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'todolist.css' %}">
    {% comment %} modo oscuro y claro {% endcomment %}
    <link rel="stylesheet" media='(prefers-color-scheme: light)' href="{% static 'todolist-light.css' %}">
    <link rel="stylesheet" media='(prefers-color-scheme: dark)' href="{% static 'todolist-dark.css' %}">
    <link rel="icon" href="{% static 'media/timeline.png' %}"> 
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
    {% comment %} fuente del texto {% endcomment %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31abbc38b6.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}
            
        {% endblock %} | Todolist
    </title>
</head>
<header>
    <div id="logotipo">
        <img src="{% static 'media/timeline.png' %}" />
    </div>
    <div id="main-conteiner">
        <div id="hamburger" class='icono-menu'>
            <button class="ham">
                <span class="top-line"></span>
                <span class="middle-line"></span>
                <span class="bottom-line"></span>
            </button>
        </div>
    </div>
    <div class='toggle-dark'>
        <dark-mode-toggle
            id="dark-mode-toggle-1"
            legend=""
            appearance="toggle"
            permanent="true"
            light="Oscuro"
            dark="Claro"
            > 
        </dark-mode-toggle>
    </div>

    <nav>
        <ul class='enlaces-menu'>
                <li><a class='efect-hover' href="{% url 'todolist' %}">Inicio</a></li>

                {% if user.email %}
                <li><a class='efect-hover' href="{% url 'create_routine' %}">Tareas</a></li>
                <li><a class='efect-hover-logout' href="{% url 'logout_todolist' %}">Cerrar sesión</a></li>
                {% else %}
                    <li><a class='efect-hover' href="{% url 'register_todolist' %}">Registrate</a></li>
                    <li><a class='efect-hover' href="{% url 'login_todolist' %}">Iniciar sesión</a></li>
                {% endif %}
        </ul>
    </nav>
</header>
<body>
{% block content %}

{% endblock %}    
<script>
    // Obtener todos los checkboxes en la página
    const checkboxes = document.querySelectorAll('input[type=checkbox]');

    // Recorrer todos los checkboxes
    checkboxes.forEach(function(checkbox) {
        // Obtener el id del checkbox
        const checkboxId = checkbox.getAttribute('id');

        // Obtener el estado del checkbox guardado en localStorage
        const isChecked = JSON.parse(localStorage.getItem(checkboxId));

        // Establecer el estado del checkbox
        if (isChecked) {
            checkbox.checked = true;
        }

        // Agregar un evento para guardar el estado del checkbox en localStorage
        checkbox.addEventListener('change', function() {
            localStorage.setItem(checkboxId, JSON.stringify(this.checked));
        });
    });
    const ham = document.querySelector('.ham');
        const enlaces = document.querySelector('.enlaces-menu');
        const nav = document.querySelector('#hamburger button');
        const a = document.querySelector('.nav-menu-link_active')

        nav.addEventListener('click', (e) => {
            nav.classList.toggle('open');
            if (enlaces.className === 'enlaces-menu activado') {
              enlaces.className = 'enlaces-menu oculto';
            } else {
              enlaces.className = 'enlaces-menu activado';
            }
          });

        const links = document.querySelectorAll('.enlaces-menu a');
        links.forEach(link => {
            link.addEventListener('click', (e) => {
                nav.classList.remove('open');
                enlaces.className = 'enlaces-menu oculto';
                
                enlaces.classList.remove('activado');
            });
        });
</script>

</body>
</html>