:root{
    --background-color: #FAFAFA;
    --border: 1px solid #ddd;
    --background-color-box: #f2f2f2;
    --background-color-invert: #e1e1e1;
    --background-color-box-users: #eae9e9;
    --color: black;
}