:root{
    --background-color: #000000;
    --border: 1px solid rgb(47, 51, 54);
    --background-color-box: #16181C;
    --background-color-invert: #212123;
    --background-color-box-users: #16181C;
    --color: white;
}